.layout-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-shadow {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

html {
  font-size: 10px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background: #eae8fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

header img {
  width: 36rem;
  height: 18rem;
  margin-bottom: 6.8rem;
}

#app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cart {
  width: 30.6rem;
  height: 54.5rem;
  margin-right: 2.8rem;
  padding: 0 2.7rem;
  background: #ffffff;
}
.cart:last-child {
  margin-right: 0;
}

.cont-list {
  margin-top: 3.1rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.2rem;
  column-gap: 1.2rem;
}

.btn-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 9.4rem;
  height: 13rem;
  border: 0.3rem solid #6327fe;
  border-radius: 1rem;
}

.img-item {
  width: 3.6rem;
  height: 6.5rem;
  padding: 1.1rem 2.9rem 0.6rem;
}

.tit-item {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: #333333;
}

.txt-item {
  /* display: inline-block; */
  width: 7rem;
  height: 1.7rem;
  padding: 0.5rem 0;
  margin: 0.7rem 0 0.9rem;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 100%;
  color: #ffffff;
  background: #6327fe;
}

.cont-return {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.2rem;
  column-gap: 1.2rem;
  margin-bottom: 2.8rem;
}

.cont-return:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.info-balance {
  width: 100%;
  height: 3.3rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  background: #eae8fe;
}

.tit-balance {
  margin-left: 1rem;
}

.txt-balance {
  margin-right: 1rem;
}

.btn-return,
.btn-put {
  width: 9.4rem;
  height: 3.3rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.9rem;
}

.inp-put {
  width: 18rem;
  height: 3.3rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #bdbdbd;
}

.inp-put::placeholder {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #bdbdbd;
}

.list-item-staged {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  width: 17.4rem;
  height: 9.2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  border: 0.1rem solid #bdbdbd;
  padding: 1.2rem 1.2rem 0 1.2rem;
  background: #eae8fe;
  overflow: scroll;
}

.item-staged {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.65rem 0;
  /* height: 4.6rem; */
  /* margin: 0 1rem; */
  margin-bottom: 0.6rem;
  border-radius: 0.5rem;
  background: #ffffff;
}

.item-staged img {
  width: 1.8rem;
  height: 3.3rem;
  padding: 0 1rem;
}

.item-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.num-counter {
  text-align: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 3rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  border: 0.1rem solid #bdbdbd;
}

.btn-get {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.9rem;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #6327fe;
}

.cont-myitems {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 5rem 0 1.3rem;
}
.cont-myitems::after {
  content: "";
  position: absolute;
  width: 37rem;
  height: 2rem;
  top: -4rem;
  left: -3rem;
  border: none;
  background-color: #eae8fe;
}

.list-item-staged-main {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  width: 28.2rem;
  height: 36.4rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  border: 0.1rem solid #bdbdbd;
  padding: 1.2rem 1.2rem 0 1.2rem;
  background: #eae8fe;
  overflow: scroll;
}

.txt-total {
  float: right;
  padding-top: 0.6rem;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

/* .border-line {
  width: 100%;
  height: 1rem;
  border: none
  background-color: #eae8fe;
} */

.cart-mt {
  margin-top: 0.9rem;
}
